<p>Olá #{name}!</p>

<p>Você (ou alguém que sabe seu e-mail) enviou uma solicitação de recuperação de senha de sua conta HBurger. Se você não fez esta solicitação, você pode desconsiderar este e-mail, a sua conta não foi afetada.</p>

<p>Se foi você que solicitou a alteração, então acesse ou copie o link abaixo dentro de uma hora para recuperar a sua conta e poder pedir seu HBurger novamente.</p>

#{token}
<p><a href=#{url}>#{url}</a></p>

<p>Atenciosamente, Equipe HBurger</p>